In [ ]:
Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [12]:
import pandas as pd
df = pd.read_csv('ratings.csv')
def ratings(row):
    if row['rating'] <= 2:
        return 'низкий рейтинг'
    elif 2 < row['rating'] <= 4:
        return 'средний рейтинг'
    elif row['rating'] == 4.5 or row['rating'] == 5:
        return 'высокий рейтинг'
df['class'] = df.apply(ratings, axis = 1)
df.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

In [ ]:
Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить 
географическую принадлежность определенному региону. Т. е. если поисковый запрос 
содержит название города региона, то в столбце ‘region’ пишется название этого региона. 
Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [68]:
import pandas as pd

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

df = pd.read_csv('keywords.csv')
def region(row):
    for key, value in geo_data.items():
        for i in value:
            if i in row['keyword']:
                return key
    return 'undefined'
df['region'] = df.apply(region, axis = 1)
df.head()

                  keyword              shows        region
0                вкмосква           64292779         Центр
1  одноклассникипетербург           63810309  Северо-Запад
2              порнопсков           41747114  Северо-Запад
3                    ютуб  39995567петербург     undefined
4               вконтакте           21014195     undefined